@inject HttpClient HttpClient

<h3>TriggerError</h3>
<button type="button" @onclick="TriggerHttpClientErrorAsync">Trigger HttpClient error</button>
<button type="button" @onclick="TriggerClientSideError">Trigger client side error</button>

@code {
    public async Task TriggerHttpClientErrorAsync() => await HttpClient.GetAsync("https://unknown-wesite-2234123.com");
    public void TriggerClientSideError() => throw new Exception("Blazor School");
}